<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{project.name | uppercase}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Identificador</dt>
      <dd>{{project.id}}</dd>
    </dl>
    <dl>
      <dt>Nombre</dt>
      <dd>{{project.name}}</dd>
    </dl>
    <dl>
      <dt>Esfuerzo</dt>
      <dd>{{project.effort}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
            color="primary"
            (click)="buttonClick.emit(project.id)"
            type="submit">
      <mat-icon>search</mat-icon> {{buttonLabel}}
    </button>
  </mat-card-actions>
</mat-card>
