<form [formGroup]="projectForm"
      novalidate
      (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Nuevo proyecto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput
                   placeholder="Nombre del proyecto"
                   formControlName="name">
            <mat-error *ngIf="projectForm.controls['name'].hasError('required')">
              Nombre del proyecto <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>Esfuerzo requerido</div>
          <mat-slider matInput
                      formControlName="effort"
                      min="1"
                      max="5"
                      step="0.1"></mat-slider>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              [disabled]="projectForm.invalid"
              color="primary"
              type="submit">
        <mat-icon>save</mat-icon> Guardar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
