<h4>Listado de proyectos</h4>
<app-filter-projects-form [(model)]="filter"
                          (search)="search($event)"></app-filter-projects-form>

<app-show-loader [showLoader]="loading"
                 text="Buscando proyectos...">
  <app-projects-list [projects]="projects$ | async"
                     (visit)="visitProject($event.id)"
                     (delete)="deleteProject($event.id)"></app-projects-list>
</app-show-loader>

<div [ngClass]="{'text-center': (projects$ | async)?.length == 0}">
  <button routerLink="new"
          class="primary"><span class="fas fa-calendar-plus"></span> Nuevo proyecto</button>
</div>
