<table class="margin-top"
       *ngIf="projects.length > 0; else emptyMsg">
  <thead>
    <tr>
      <th>Identificador</th>
      <th>Nombre</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of projects">
      <td data-label="Identificador">{{p.id}}</td>
      <td data-label="Nombre">{{p.name}}</td>
      <td data-label="Opciones"
          class="table-options">
        <a class="table-option tooltip"
           aria-label="Visualiza este proyecto"
           [routerLink]="p.id"><i class="fas fa-eye"></i> </a>
        <a class="table-option tooltip"
           aria-label="Borra este proyecto"
           href="javascript:void(0)"
           (click)="deleteProject(p.id)"><i class="fas fa-times"></i> </a>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #emptyMsg>
  <p class="text-center">
    No tenemos proyectos en Gestoro, se el primero en crear uno.
  </p>
</ng-template>
<div [ngClass]="{'text-center': projects.length == 0}">
  <button routerLink="new"
          class="primary"><span class="fas fa-calendar-plus"></span> Nuevo proyecto</button>
</div>
