<form [formGroup]="filterForm"
      novalidate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Buscar</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Identificador"
                   formControlName="id"
                   type="number">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Nombre"
                   formControlName="name">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mat-raised-button
                  color="primary"
                  type="button"
                  (click)="triggerSearch(true)">
            <mat-icon>search</mat-icon> Buscar
          </button>
          <button mat-raised-button
                  type="button"
                  (click)="triggerSearch(false)">
            <mat-icon>replay</mat-icon> Limpiar
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
