<form>
  <fieldset>
    <legend>{{project.name | uppercase}}</legend>
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <b>Identificador</b>
      </div>
      <div class="col-sm-12 col-md-9">
        {{project.id}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <b>Nombre</b>
      </div>
      <div class="col-sm-12 col-md-9">
        {{project.name}}
      </div>
    </div>
  </fieldset>
</form>

<a routerLink="/projects"
   class="button"><span class="icon-link"></span> Volver</a>
