<h3>Últimos proyectos</h3>

<app-show-loader [showLoader]="showLoader"
                 text="Cargando últimos proyectos...">
  <ng-container *ngIf="projects?.length > 0; else zeroProj">
    <mat-grid-list cols="3"
                   gutterSize="15px"
                   style="height: 250px"
                   rowHeight="fit">
      <ng-container *ngFor="let p of projects; index as i">
        <mat-grid-tile *ngIf="i < max">
          <app-dashboard-element buttonLabel="Ver proyecto"
                                 (buttonClick)="buttonClick.emit($event)"
                                 [project]="p"></app-dashboard-element>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>

    <div class="row text-right">
      <p>
        Se muestran {{min(projects?.length, max)}} proyectos (de
        {{projects?.length}}
        en
        total)
      </p>
    </div>
  </ng-container>

  <ng-template #zeroProj>
    <div class="text-center">
      <p>
        No tenemos proyectos en Gestoro, se el primero en crear uno.
      </p>
    </div>
  </ng-template>
</app-show-loader>
