:root {
  --header-hover-back-color: var(--button-hover-back-color);
}

/* Personalización de la cabecera */
.header-link-active {
  --header-back-color: var(--button-hover-back-color);
}

.responsive-control .button {
  display: block;
}

.responsive-control .drawer-close-container {
  height: calc(2rem + 4*var(--universal-margin));
}


/* Control de tablas */
table:not(.horizontal) td.table-options {
  overflow: visible;
}

.table-option {
  font-size: 1.2em;
  margin-right: 10px;
}

/* Utilidades */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.margin-top {
  margin-top: var(--universal-margin);
}

a:link {
  color: var(--a-visited-color);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.router-outlet-container {
  padding: 15px;
}
